#hoverDescNav {
    font-size: 3em;
    text-align : center;
    animation : appear 0.5s ;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.hoverDescContainer{
  height: 100vh;
  width: 85vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
